<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Header</title>
</head>
<body>
    <header>

        <div class="button-links-header">
            <div>
                <a style="color:white" href="/" class="site-logo">
                    SMY
                </a>
            </div>
        </div>
    
        <div class="nav-bar-wrapper" id="nav-bar-wrapper">
        <nav class="nav-bar">
            <div onclick="closeHamburgerMenu()" class="close-menu-button" id="close-menu-button"  ><img src="/images/close-icon.svg" alt=""></div>
            <a class="nav-link" href="/projects/converter/temperature-convertor/">Temperature Converter</a>
            <a class="nav-link" href="/projects/converter/currency-converter/">Currency Converter</a>
            <a class="nav-link" href="/projects/calculator/">Calculator</a>
            <a class="nav-link" href="/projects/personality-test/">Personality Test</a>
            <a class="nav-link" href="/projects/quiz/">Quiz</a>
        </nav>
    </div>
    
        <div onclick="openHamburgerMenu()" class="hamburger-menu-icon"><img src="/images/hamburger-icon.svg" alt=""></div>
    
    </header>
    
    <script src="/script.js"></script>
    
</body>
</html>
